<!DOCTYPE html>

<html>

<head>
    <!-- TITLE OF THE PAGE (Set dynamically from server) -->
    <title><%=title%></title>

    <!-- FONT AWESOME (Icon library for FontAwesome) -->
    <script src="https://kit.fontawesome.com/f383b6eabf.js" crossorigin="anonymous"></script>

    <!-- CSS (External CSS stylesheets can be added here if needed) -->
    <!-- Example: <link rel="stylesheet" type="text/css" href="path/to/stylesheet.css"> -->

</head>

<body>
    <!-- HEADER (Header content is not present in this template) -->
    <!-- You can include the header content here if needed -->

    <!-- BODY (The main content of the page, dynamically inserted from the server) -->
    <%- body %>

    <!-- FOOTER (Footer content is not present in this template) -->
    <!-- You can include the footer content here if needed -->

    <!-- JAVASCRIPT (External JavaScript file to enhance functionality) -->
    <script type="text/javascript" src="/js/file_viewer.js"></script>
    <!-- Example: Include additional JavaScript files here if required -->

</body>

</html>
